<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDn_RA-kQTrqsasQtndnsLhOkywdu6m9lo</string>
	<key>GCM_SENDER_ID</key>
	<string>965677013500</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nextbuzz.WerkRooster</string>
	<key>PROJECT_ID</key>
	<string>serva-werkroosters</string>
	<key>STORAGE_BUCKET</key>
	<string>serva-werkroosters.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:965677013500:ios:259088d52fdc94ca74ba79</string>
</dict>
</plist>